<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Task</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header></header>
    <main class="d-flex flex-column justify-content-center align-items-center">
      <div id="razorpay-affordability-widget"></div>
      <h1>Add Task</h1>
      <p>To enjoy our cool features</p>

      <form action="" class="w-50">
        <div class="mb-3">
          <label for="price" class="form-label">Price</label>
          <input type="number" name="" id="price" class="form-control" />
          <!-- <div>We'll never share your email</div> -->
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <input type="text" name="" id="description" class="form-control" />
          <!-- <div>We'll never share your email</div> -->
        </div>
        <div class="mb-3">
          <select
            class="form-select form-select-lg mb-3"
            aria-label="Large select example"
          >
            <option selected>select category</option>
            <option value="food">Food</option>
            <option value="petrol">Petrol</option>
            <option value="salary">Salary</option>
          </select>
        </div>
        <div class="mb-3">
          <button type="submit" class="btn btn-primary w-100">Add-Task</button>
        </div>
      </form>
      <div>
        <button class="btn btn-primary" id="premium">Buy Premium</button>
      </div>
    </main>
  </body>
</html>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js"
  integrity="sha512-PJa3oQSLWRB7wHZ7GQ/g+qyv6r4mbuhmiDb8BjSFZ8NZ2a42oTtAq5n0ucWAwcQDlikAtkub+tPVCw4np27WCg=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script type="module">
    import {initializeNavbar} from "./navbar.js"
 

  document.addEventListener("DOMContentLoaded", function () {
    fetch("navabar.html")
      .then((response) => response.text())
      .then((data) => {
        document.querySelector("header").innerHTML = data;
        initializeNavbar()
      });
  });
  // Create SVG element
  const svgElement = document.createElementNS(
    "http://www.w3.org/2000/svg",
    "svg"
  );

  // Set width and height attributes
  svgElement.setAttribute("width", "100");
  svgElement.setAttribute("height", "100");

  // Append SVG element to the document
  document.body.appendChild(svgElement);

  const formData = document.querySelector("form");
  const p = document.createElement("p");
  const token = localStorage.getItem("token");

  const premium = document.getElementById("premium");
  const rzpdeviceid=localStorage.getItem("rzp_device_id")
  const rzpcheckoutanonid=localStorage.getItem("")
  
//  document.addEventListener('DOMContentLoaded',checkPrimeStatus)
  
  // function checkPrimeStatus() {
  //    if(rzpcheckoutanonid || rzpdeviceid){
  //     premium.style.display='none';
        
  //    }
     
  //  }

  formData.addEventListener("submit", handleForm);
  function handleForm(event) {
    event.preventDefault();
    let data = {
      price: formData.elements[0].value,
      description: formData.elements[1].value,
      category: formData.elements[2].value,
    };
    
    axios
      .post("/task/addTask", data, {
        headers: {
          Authorization: `Bearer ${token}`,
        },
      })
      .then((res) => {
        if (res.data) {
          p.textContent = "data has successfully Add ";
          p.setAttribute("class", "alert alert-success");
          p.setAttribute("role", "alert");
        }
      })
      .catch((err) => {
        p.textContent = err.response.data;
        p.setAttribute("class", "alert alert-danger");
        p.setAttribute("role", "alert");
      });

    formData.insertBefore(p, formData.children[0]);
  }
  premium.addEventListener("click", handlePremium);
  async function handlePremium(event) {
    try {
      let getOrder = await axios.get("/payment/premium", {
        headers: {
          Authorization: `Bearer ${token}`,
        },
      });
      const options = {
        key: getOrder.data.key_id,
        orderId: getOrder.data.data.orderId,
        handler: async function (response) {
          try {
            let updateResponse = await axios.post(
              "payment/updatePremium",
              {
                orderId: options.orderId,
                paymentId: response.razorpay_payment_id,
                status: "success",
              },
              { headers: { Authorization: `Bearer ${token}` } }
            );
            alert("You are prime member");
            
          } catch (err) {
            console.log(err);
          }
        },
      };
      
      const rzp1 = new Razorpay(options);
      rzp1.open();
      
    } catch (err) {
      console.log(err);
    }
  }


</script>
